body {
  font-family: Arial, sans-serif;
  background-image: url(pic2.jpeg);
  background-size: cover;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}

h1 {
  text-align: center;
}

textarea, input, select {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  color: red;
}


